<ion-view class="login">
  <ion-content>
      <p class="title">
        {{'ResetPassword'|translate}}
      </p>


    <form name="vm.form" ng-submit="vm.sendEmail()" novalidate>
      <md-input-container class="md-block" flex>
        <label for="email_reset">{{'Login.Email'|translate}}</label>
        <input required
               name="email_reset"
               autocomplete="off"
               id="email_reset"
               ng-pattern="vm.emailRegExp"
               ng-model="vm.email"
               aria-label="email_reset"/>
        <div class="error-block" ng-messages="vm.form.email_reset.$error">
          <div class="error-block" ng-message="required">
            {{'SignUp.fieldRequired'|translate}}
          </div>
          <div class="error-block" ng-message-exp="['pattern']">
            <span class="error">{{'SignUp.emailValid'|translate}}</span>
          </div>
        </div>
      </md-input-container>
      <div layout="column" layout-margin>
        <md-button class=" md-raised waves-effect waves-light"
                   style="background-color: grey; color: white"
                   type="submit"
                   aria-label="true">
          {{'Send'|translate}}
        </md-button>
        <div style="margin-top: 10px; " class="link">
          <a style="text-decoration: none !important;" ui-sref="login">Назад</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>

