<ion-view class="login">
  <ion-content>
    <p class="title">
      {{'ConfirmEmail'|translate}}
    </p>
    <form name="vm.form" ng-submit="vm.confirmEmail()" novalidate>
      <md-input-container class="md-block" flex>
        <label for="email">{{'Confirm_EMAIL'|translate}}</label>
        <input required
               name="email_code"
               autocomplete="off"
               id="email_code"
               ng-model="vm.data.email_code"
               aria-label="email"/>
        <div class="error-block" ng-messages="vm.form.email_code.$error">
          <div class="error-block" ng-message="required">
            {{'SignUp.fieldRequired'|translate}}
          </div>
        </div>
      </md-input-container>
      <div layout="column" layout-margin>
        <md-button class=" md-raised waves-effect waves-light"
                   style="background-color: grey; color: white"
                   type="submit"
                   aria-label="true">
          {{'Confirm'|translate}}
        </md-button>
        <div style="margin-top: 10px; " class="link">
          <a style="text-decoration: none !important;" ng-style="myStyle" ng-click="vm.sendAgain(); myStyle = {color: 'grey'}">{{'Send_code_again'|translate}}</a>
        </div>
      </div>
      <span ng-if="vm.language === 'ua'" class="link" style="color: gray; font-size: 1.0em !important;">
        <p>При введенні коду підтвердження Замовником
         відбувається акцепт Договору про використання сервісу Виконавця - 1А Букад. </p>
        <p> Тим самим Замовник дає згоду: </p>
         <p> 1. на оброблення персональних даних;</p>
         <p>2. на отримання інформаційних розсилок на вказану під час реєстрації електронну пошту та телефон. </p>
       <p> Докладно на 1a.biz.ua.</p>
      </span>
      <span ng-if="vm.language === 'ru'" class="link" style="color: gray; font-size: 1.0em !important;">
        <p>При вводе кода подтверждения Заказчиком происходит акцепт Договора об использовании сервиса Исполнителя - 1А БУКАД. </p>
        <p> Тем самым Заказчик дает согласие: </p>
         <p> 1. на обработку персональных данных;</p>
         <p>2. на получение информационных рассылок на указанный при регистрации электронную почту и телефон. </p>
       <p> Дополнительно на 1a.biz.ua.</p>
      </span>
    </form>
  </ion-content>
</ion-view>

