.tax_templates {
  color: black;
  .item {

    padding: 15px 10px;
    h2 {
      color: black;
      font-size: 1.15em;
      font-weight: bold;
    }
    .secondText {
      color: gray;
      font-size: 1em;
    }
    .date{
      color: gray;
      font-size: 0.9em;
    }
    .icon {
      font-size: 32px;
    }
    p {
      color: black;
      white-space: normal;
    }
  }
}
