<ion-view view-title="{{'Taxes.title_splata'|translate}}" class="main">
  <ion-content>
    <ion-list class="item">
      <ion-item>
        <div class="item-icon-left">
          <i   style="color: darkgreen !important;" class="icon ion-android-checkbox"></i>
        </div>
        <div class="item-icon-left" ui-sref="app.pay_staff_tax({staff_tax: vm.data, values: vm.tmp, type: 1, title: 'Військовий збір', data_salary: vm.salary, count_workers: vm.count_workers})">
          <h2 style="color: #333 !important;">{{'Taxes.army_tax'|translate}}</h2>
        </div>
        <div class="item-icon-right">
          <i  class="icon ion-chevron-right"></i>
        </div>
      </ion-item>
      <ion-item>
        <div class="item-icon-left">
          <i   style="color: darkgreen !important;" class="icon ion-android-checkbox"></i>
        </div>
        <div class="item-icon-left"  ui-sref="app.pay_staff_tax({staff_tax: vm.data, values: vm.tmp, type: 2, title: 'Прибутковий податок', data_salary: vm.salary, count_workers: vm.count_workers})">
          <h2 style="color: #333 !important;">{{'Taxes.money_tax'|translate}}</h2>
        </div>
        <div class="item-icon-right">
          <i  class="icon ion-chevron-right"></i>
        </div>
      </ion-item>
      <ion-item>
        <div class="item-icon-left">
          <i style="color: red !important;" class="icon ion-alert-circled"></i>
        </div>
        <div class="item-icon-left" ui-sref="app.pay_staff_tax({staff_tax: vm.data, values: vm.tmp, type: 3, title: 'ЄСВ на найманих працiвникiв', data_salary: vm.salary, count_workers: vm.count_workers})">
          <!--<h2 style="color: #333 !important;">ЄСВ на найманих<br> працівників</h2>-->
          <h2 style="color: #333 !important;" ng-if="vm.mainLanguage === 'ua'">ЄСВ на найманих <br> працівників</h2>
          <h2 style="color: #333 !important;" ng-if="vm.mainLanguage === 'ru'">ЕСВ с наемных <br> сотрудников</h2>
        </div>
        <div class="item-icon-right">
          <i  class="icon ion-chevron-right"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
