<ion-view class="signup">
  <ion-content>
    <p class="md-whiteframe-3dp title">
      {{'SignUp.signUp'|translate}}
    </p>
    <form novalidate style="margin-top: 25px"
          ng-submit="vm.signup()"
          name="vm.form">
      <h4>{{'SignUp.data'|translate}}</h4>


      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.email'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            required
            style="margin-top: -15px"
            name="email"
            autocomplete="off"
            maxlength="255"
            id="email"
            ng-pattern="vm.emailRegExp"
            ng-model="vm.data.email"
            aria-label="email"
          />
          <div class="error-block" ng-messages="vm.form.email.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
            <div class="error-block" ng-message-exp="['maxlength', 'pattern']">
              <span class="error">{{'SignUp.emailValid'|translate}}</span>
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.password'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            required
            style="margin-top: -15px"
            name="password"
            id="password"
            ng-model="vm.data.password"
            aria-label="password"
            type="password"/>
          <div class="error-block" ng-messages="vm.form.password.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.tpassword'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            required
            style="margin-top: -15px"
            name="tpassword"
            id="tpassword"
            ng-pattern="vm.data.password"
            ng-model="vm.password"
            aria-label="password"
            type="password"/>
          <div class="error-block" ng-messages="vm.form.tpassword.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
            <div class="error-block" ng-message-exp="['pattern']">
              <span class="error">{{'SignUp.passValid'|translate}}</span>
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.ident_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            required
            style="margin-top: -15px"
            name="code"
            ng-model="vm.data.profile.ident_code"
            aria-label="ident_code"
            type="number"/>
          <div class="error-block" ng-messages="vm.form.code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>
      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.insurance'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            required
            style="margin-top: -15px"
            name="number_insurance"
            ng-model="vm.data.profile.insurance"
            aria-label="insurance"
            type="number"/>
          <div class="error-block" ng-messages="vm.form.number_insurance.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.initials'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            required
            style="margin-top: -15px"
            name="initials"
            ng-model="vm.data.profile.initials"
            aria-label="initials"
            type="text"/>
          <div class="error-block" ng-messages="vm.form.initials.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <h4>{{'SignUp.address'|translate}}:</h4>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.postcode'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            required
            style="margin-top: -15px"
            name="postcode"
            ng-model="vm.data.profile.postcode"
            aria-label="postcode"
            type="number"/>
          <div class="error-block" ng-messages="vm.form.postcode.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.region'|translate}}</label>
        <md-autocomplete md-input-name="region_autocomplete"
                         md-search-text-change="vm.searchTextRegionChange(item.searchRegion)"
                         md-selected-item-change="vm.selectedRegionChange(item)"
                         md-selected-item="vm.region"
                         md-search-text="item.searchRegion"
                         md-items="item in vm.filterRegion()"
                         md-item-text="item.region"
                         md-require-match
                         required
                         md-min-length="0"
                         md-no-cache="true"
                         md-floating-label="Область">
          <md-item-template>
                              <span md-highlight-text="item.searchRegion"
                                    md-highlight-flags="^i">{{item.region}}</span>
          </md-item-template>
          <div class="error-block" ng-messages="vm.form.region_autocomplete.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-autocomplete>
      </div>


      <div ng-if="vm.region">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.area'|translate}}</label>
        <md-autocomplete md-input-name="area_autocomplete"
                         md-search-text-change="vm.searchTextAreaChange(item.searchArea)"
                         md-selected-item-change="vm.selectedAreaChange(item)"
                         md-selected-item="vm.area"
                         md-search-text="item.searchArea"
                         md-items="item in vm.filterArea()"
                         md-item-text="item.area"
                         md-require-match
                         required
                         md-min-length="0"
                         md-no-cache="true"
                         md-floating-label="Район">
          <md-item-template>
                              <span md-highlight-text="item.searchArea"
                                    md-highlight-flags="^i">{{item.area}}</span>
          </md-item-template>
          <div class="error-block" ng-messages="vm.form.area_autocomplete.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-autocomplete>
      </div>


      <div ng-if="vm.area">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.city'|translate}}</label>
        <md-autocomplete md-input-name="city_autocomplete"
                         md-search-text-change="vm.searchTextChange(item.searchCity)"
                         md-selected-item-change="vm.selectedItemChange(item)"
                         md-selected-item="vm.city"
                         md-search-text="item.searchCity"
                         md-items="item in vm.filterCity()"
                         md-item-text="item.city"
                         md-require-match
                         required
                         md-min-length="0"
                         md-no-cache="true"
                         md-floating-label="Місто/село">
          <md-item-template>
                              <span md-highlight-text="item.searchCity"
                                    md-highlight-flags="^i">{{item.city}}</span>
          </md-item-template>
          <div class="error-block" ng-messages="vm.form.city_autocomplete.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-autocomplete>

      </div>

      <h4>{{'SignUp.details'|translate}}</h4>


      <div ng-if="vm.region">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.dfs_name'|translate}}</label>
        <md-autocomplete md-input-name="dfs_autocomplete"
                         md-search-text-change="vm.searchTextDfsChange(item.searchDfs)"
                         md-selected-item-change="vm.selectedDfsChange(item)"
                         md-selected-item="vm.data.profile.dfs_name"
                         md-search-text="item.searchDfs"
                         md-items="item in vm.filterDfs()"
                         md-item-text="item"
                         md-require-match
                         md-min-length="0"
                         required
                         md-no-cache="true"
                         md-floating-label="{{'SignUp.dfs_name'|translate}}">
          <md-item-template>
                              <span md-highlight-text="item.searchDfs"
                                    md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
          <div class="error-block" ng-messages="vm.form.dfs_autocomplete.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-autocomplete>
      </div>


      <div ng-if="vm.region">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.dfs_code'|translate}}</label>
        <md-autocomplete md-input-name="dfs_code_autocomplete"
                         md-search-text-change="vm.searchTextDfs_codeChange(item.searchDfs_code)"
                         md-selected-item-change="vm.selectedDfs_codeChange(item)"
                         md-selected-item="vm.data.profile.dfs_code"
                         md-search-text="item.searchDfs_code"
                         md-items="item in vm.filterDfs_code()"
                         md-item-text="item"
                         md-require-match
                         md-min-length="0"
                         required
                         md-no-cache="true"
                         md-floating-label="{{'SignUp.dfs_code'|translate}}">
          <md-item-template>
                              <span md-highlight-text="item.searchDfs_code"
                                    md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
          <div class="error-block" ng-messages="vm.form.dfs_code_autocomplete.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-autocomplete>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.kved_topic'|translate}}</label>
        <md-input-container class="md-block" flex>
          <md-select required style="border-bottom: 1px solid #333" ng-change="vm.getGroups(vm.kved_topic)" id="topic"
                     ng-model="vm.kved_topic"
                     aria-label="sort">
            <md-option ng-value="topic" ng-repeat="topic in vm.topic">{{topic}}
            </md-option>
          </md-select>
          <div class="error-block" ng-messages="vm.form.dfs_code_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>


      <div ng-if="vm.kved_topic">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.kved_group'|translate}}</label>
        <md-input-container class="md-block" flex>
          <md-select required style="border-bottom: 1px solid #333; margin-top: -15px"  ng-change="vm.getClass(vm.kved_group)"
                     id="kved_group"
                     ng-model="vm.kved_group" name="kved_group"
                     aria-label="sort" required>
            <md-option ng-value="group" ng-repeat="group in vm.groups">{{group}}
            </md-option>
          </md-select>
          <div class="error-block" ng-messages="vm.form.kved_group.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div ng-if="vm.kved_group">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.kved_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333;  margin-top: -15px" id="kved_code" ng-model="vm.data.profile.kved_code"
                     aria-label="sort" required name="kved_code">
            <md-option ng-value="class" ng-repeat="class in vm.class">{{class}}
            </md-option>
          </md-select>
          <div class="error-block" ng-messages="vm.form.kved_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div ng-if="vm.city">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.pfu_code'|translate}}</label>
        <md-autocomplete md-input-name="pfu_autocomplete"
                         md-search-text-change="vm.searchTextPfuChange(item.searchPfu)"
                         md-selected-item-change="vm.selectedPfuChange(item)"
                         md-selected-item="vm.data.profile.pfu"
                         md-search-text="item.searchPfu"
                         md-items="item in vm.filterPfu()"
                         md-item-text="item"
                         md-require-match
                         required
                         md-min-length="0"
                         md-no-cache="true"
                         md-floating-label="{{'SignUp.pfu_code'|translate}}">
          <md-item-template>
                              <span md-highlight-text="item.searchPfu"
                                    md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
          <div class="error-block" ng-messages="vm.form.pfu_autocomplete.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-autocomplete>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.group'|translate}}</label>
        <md-input-container class="md-block" flex>
          <md-select id="group_esv" required ng-model="vm.data.profile.group"
                     name="group"
                     aria-label="group">
            <md-option value="group1">1</md-option>
            <md-option value="group2">2</md-option>
            <md-option value="group3">3</md-option>
          </md-select>
          <div class="error-block" ng-messages="vm.form.group.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>


      <div layout="row" layout-align="space-between center">
            <span style="color: #666666; font-size: 1.1em">{{'SignUp.status'|translate}}<br>
                <span class="secondText">{{'SignUp.status_status'|translate}}</span></span>
        <div style="margin-top: 15px" layout="row" layout-align="space-around">
          <md-checkbox id="first_group_special"
                       ng-model="vm.data.profile.status"
                       aria-label="first_group">
            <span style="color: black">{{'SignUp.yes'|translate}}</span>
          </md-checkbox>
        </div>
      </div>

        <div  class="link" layout-margin>
          <md-button md-no-ink class="md-primary" style="font-size: 17px" type="submit">{{'SignUp.continue'|translate}}</md-button>
        </div>
        <div class="link">
          <span style="color: #333">{{'SignUp.dontHaveAccount'|translate}}</span>
          <a style="text-decoration: none" href="#/login">{{'Login.SignIn'|translate}}</a>
        </div>
    </form>

    <div class="link" layout="column" style="margin-top: 10px; margin-bottom: 10px">
      <span style="color: gray; font-size: 1.0em !important;">{{'Login.DontHaveQuestion'|translate}}</span>
      <a style="text-decoration: none !important; color: #039BE5; font-size: 1.1em !important;" href="tel:{{'+380662279755'}}">+380662279755</a>
    </div>

  </ion-content>
</ion-view>
