<ion-view class="signup">
  <ion-content>
    <p class="md-whiteframe-3dp title">
      Реєстрація
    </p>
    <form style="margin-top: 25px">
      <h4>Дані акаунту:</h4>

      <div>
        <label style="color: #666666; font-size: 1em;">Електронна пошта</label>
        <md-input-container class="md-block" flex>
          <input style="margin-top: -25px"
                 required
                 ng-model="vm.data.email"
                 aria-label="email"
                 type="text">
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">Пароль</label>
        <md-input-container class="md-block" flex>
          <input style="margin-top: -25px"
                 required
                 ng-model="vm.data.password"
                 aria-label="password"
                 type="password">
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">Пiдтвердити пароль</label>
        <md-input-container class="md-block" flex>
          <input style="margin-top: -25px"
                 required
                 ng-model="vm.password"
                 aria-label="password"
                 type="password">
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">Ідентифікаційний код</label>
        <md-input-container class="md-block" flex>
          <input style="margin-top: -25px"
                 required
                 ng-model="vm.data.profile.ident_code"
                 aria-label="ident_code"
                 type="text">
        </md-input-container>
      </div>
      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">Номер страхувальника</label>
        <md-input-container class="md-block" flex>
          <input style="margin-top: -25px"
                 required
                 ng-model="vm.data.profile.insurance"
                 aria-label="insurance"
                 type="text">
        </md-input-container>
      </div>
      <!--<div style="margin-top: -25px">-->
      <!--<label style="color: #666666; font-size: 1em;">Номер картки</label>-->
      <!--<md-input-container class="md-block" flex>-->
      <!--<input style="margin-top: -25px"-->
      <!--ng-model="vm.data.profile.card_number"-->
      <!--aria-label="card_number"-->
      <!--type="text" >-->
      <!--</md-input-container>-->
      <!--</div>-->
      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">ПІП</label>
        <md-input-container class="md-block" flex>
          <input style="margin-top: -25px"
                 required
                 ng-model="vm.data.profile.initials"
                 aria-label="initials"
                 type="text">
        </md-input-container>
      </div>

      <h4>Адреса:</h4>

      <div>
        <label style="color: #666666; font-size: 1em;">Індекс</label>
        <md-input-container class="md-block" flex>
          <input style="margin-top: -25px"
                 required
                 ng-model="vm.data.profile.postcode"
                 aria-label="postcode"
                 type="number">
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Область</label>
        <md-input-container class="md-block" style="margin-top: -5px" flex>
          <md-select style="border-bottom: 1px solid #333"
                     required
                     ng-change="vm.getArea(vm.region)"
                     id="region" ng-model="vm.region"
                     aria-label="sort">
            <md-option ng-value="region.region" ng-repeat="region in vm.regions">{{region.region}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div ng-if="vm.region">
        <label style="color: #666666; font-size: 1em;">Район</label>
        <md-input-container class="md-block"
                            style="margin-top: -5px" flex>
          <md-select ng-disabled="!vm.region"
                     required
                     style="border-bottom: 1px solid #333"
                     ng-change="vm.getCities(vm.area, vm.region)"
                     id="area" ng-model="vm.area"
                     aria-label="sort">
            <md-option ng-value="area.area"
                       ng-repeat="area in vm.areas">{{area.area}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div ng-if="vm.area">
        <label style="color: #666666; font-size: 1em;">Місто/село</label>
        <md-input-container class="md-block" style="margin-top: -5px" flex>
          <md-select style="border-bottom: 1px solid #333" id="city" ng-model="vm.city"
                     aria-label="sort" required
          >
            <md-option ng-value="city.city" ng-repeat="city in vm.cities">{{city.city}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <!--<md-autocomplete md-input-name="city_autocomplete"-->
      <!--md-no-cache="true"-->
      <!--class="w-65 align-left ml-16"-->
      <!--md-min-length="0"-->
      <!--md-search-text-change="vm.searchTextChange(vm.cities.city[$index].searchCity)"-->
      <!--md-selected-item-change="vm.selectedItemChange(item)"-->
      <!--md-selected-item="vm.cities.city"-->
      <!--ng-blur="vm.createGrosse(vm.cities.city[$index].searchCity, $index)"-->
      <!--md-search-text="vm.cities.city[$index].searchCity"-->
      <!--md-items="item in vm.citySearch(vm.cities.city[$index].searchCity)"-->
      <!--md-item-text="item.size"-->
      <!--md-require-match-->

      <!--md-floating-label="Мiсто">-->
      <!--<md-item-template style="min-height:100px; height: 100px; max-height: 100px">-->
      <!--<span md-highlight-text="vm.cities.city[$index].searchCity"-->
      <!--style="min-height:100px; height: 100px; max-height: 100px"-->
      <!--md-highlight-flags="^i">{{item.city}}</span>-->
      <!--</md-item-template>-->
      <!--</md-autocomplete>-->


      <h4>Деталі:</h4>


      <div ng-if="vm.region">
        <label style="color: #666666; font-size: 1em;">Назва органу ДФС</label>
        <md-input-container class="md-block" style="margin-top: -5px" flex>
          <md-select style="border-bottom: 1px solid #333" required
                     id="pfu" ng-model="vm.data.profile.dfs_name"
                     aria-label="sort" required>
            <md-option  ng-value="dfs_code" ng-repeat="dfs_code in vm.dfs_code">{{dfs_code}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>


      <div ng-if="vm.region">
        <label style="color: #666666; font-size: 1em;">Код ДФС</label>
        <md-input-container class="md-block" style="margin-top: -5px" flex>
          <md-select style="border-bottom: 1px solid #333" required
                     id="pfu_code" ng-model="vm.data.profile.dfs_code"
                     aria-label="sort" required>
            <md-option  ng-value="dfs_code.code" ng-repeat="dfs_code in vm.dfs_code_code">{{dfs_code.code}},
              {{dfs_code.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Розділ КВЄД</label>
        <md-input-container class="md-block" style="margin-top: -5px" flex>
          <md-select required style="border-bottom: 1px solid #333" ng-change="vm.getGroups(vm.kved_topic)" id="topic"
                     ng-model="vm.kved_topic"
                     aria-label="sort" required>
            <md-option ng-value="topic" ng-repeat="topic in vm.topic">{{topic}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>


      <div ng-if="vm.kved_topic">
        <label style="color: #666666; font-size: 1em;">Група КВЄД</label>
        <md-input-container class="md-block" style="margin-top: -5px" flex>
          <md-select required style="border-bottom: 1px solid #333" ng-change="vm.getClass(vm.kved_group)" id="group"
                     ng-model="vm.kved_group"
                     aria-label="sort" required>
            <md-option ng-value="group" ng-repeat="group in vm.groups">{{group}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div ng-if="vm.kved_group">
        <label style="color: #666666; font-size: 1em;">Клас КВЄД</label>
        <md-input-container class="md-block" style="margin-top: -5px" flex>
          <md-select style="border-bottom: 1px solid #333" id="class" ng-model="vm.data.profile.kved_code"
                     aria-label="sort" required>
            <md-option ng-value="class" ng-repeat="class in vm.class">{{class}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <!--<div>-->
      <!--<label style="color: #666666; font-size: 1em;">Код ПФУ</label>-->
      <!--<md-input-container class="md-block" style="margin-top: -5px" flex>-->
      <!--<md-select style="border-bottom: 1px solid #333"-->
      <!--id="pfu" ng-model="vm.data.profile.pfu_code"-->
      <!--aria-label="sort">-->
      <!--<md-option ng-value="code_pfu" ng-repeat="code_pfu in vm.pfu_code">{{code_pfu}}-->
      <!--</md-option>-->
      <!--</md-select>-->
      <!--</md-input-container>-->
      <!--</div>-->



      <div ng-if="vm.city">
        <label style="color: #666666; font-size: 1em;">Код ПФУ</label>
        <md-input-container class="md-block" style="margin-top: -5px" flex>
          <md-select style="border-bottom: 1px solid #333" id="class" ng-model="vm.pfu_codes"
                     aria-label="sort" required>
            <md-option ng-value="pfu" ng-repeat="pfu in vm.pfu_code">{{pfu.code}}, {{pfu.pfu_name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <!--<div style="margin-top: 25px">-->
      <!--<label style="color: #666666; font-size: 1em;">Код ДФС</label>-->
      <!--<md-input-container class="md-block" flex>-->
      <!--<input style="margin-top: -25px" ng-model="vm.data.profile.dfs_code" aria-label="dfs_code" type="text" >-->
      <!--</md-input-container>-->
      <!--</div>-->


      <div>
        <label style="color: #666666; font-size: 1em;">Група єдиного податку:</label>
        <md-input-container class="md-block" flex>
          <md-select style="margin-top: -25px" id="group_esv" required ng-model="vm.data.profile.group"
                     name="group"
                     aria-label="group">
            <md-option value="group1">1</md-option>
            <md-option value="group2">2</md-option>
            <md-option value="group3">3</md-option>
          </md-select>
        </md-input-container>
      </div>


      <div layout="row" layout-align="space-between center">
            <span style="color: #666666; font-size: 1.1em">Особливий статус ФОП: <br>
                <span class="secondText">(пенсіонер/інвалід)</span></span>
        <div style="margin-top: 15px" layout="row" layout-align="space-around">
          <md-checkbox id="first_group_special"
                       ng-model="vm.data.profile.status"
                       aria-label="first_group">
            <span style="color: black">Так</span>
          </md-checkbox>
        </div>
      </div>


    </form>
    <div layout="column" class="link" layout-margin>
      <div class="link">
        <a style="text-decoration: none" ng-click="vm.signup()">>Продовжити</a>
      </div>
      <div class="link">
        <span style="color: #333">У Вас вже є акаунт?</span>
        <a style="text-decoration: none" href="#/login">Увійти</a>
      </div>
    </div>

  </ion-content>
</ion-view>
