.signup {
    p.title {
        color: #333;
        padding: 5%;
        text-align: center;
        font-size: 1.8em;
    }

    form {
        .myAutocomplete{
            md-autocomplete{
                border: 1px solid white;
                input {
                    border-bottom: 1px solid white !important;
                }
            }
            md-input-container{
                margin-top: -2px;
                input {
                    border-bottom: 1px solid white !important;

                }
            }
        }
        md-input-container{
            input {
                border-bottom: 1px solid grey;

            }
            label{
                color: #333;
                font-size: 1.1em;
            }
            md-select {
                md-option {
                    border-bottom: 1px solid grey;
                }

            }

        }

        padding: 0 20px;
        .secondText {
            color: gray;
            font-size: 1em;
        }
    }

    .link {
        text-align: center;
        color: #039BE5;
        font-size: 1.2em;
        a {
            padding: 0 5px;
            color: #039BE5;
        }
    }
}
