.autocomplete-custom-template  li {
  border-bottom: 1px solid #CCCCCC;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;

}

.autocomplete-custom-template input {
  word-wrap: break-word
}

.autocomplete-custom-template li li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template li .item-title,
.autocomplete-custom-template li .item-metadata {
  display: block;
  line-height: 3;
  word-wrap: break-word
}




.signup {
  .testClass {
    //color: hotpink;
  }
  //.autocomplete-custom-template .item-title md-icon {
  //  height: 18px;
  //  width: 18px;
  //}
    p.title {
        color: #333;
        padding: 5%;
        text-align: center;
        font-size: 1.8em;
    }

    form {
        md-input-container{
            input {
                border-bottom: 1px solid grey;

            }
            label{
                color: #333;
                font-size: 1.1em;
            }
            md-select {
                md-option {
                    border-bottom: 1px solid grey;
                }

            }

        }

        padding: 0 20px;
        .secondText {
            color: gray;
            font-size: 1em;
        }
    }

    .link {
        text-align: center;
        color: #039BE5;
        font-size: 1.2em;
        a {
            padding: 0 5px;
            color: #039BE5;
        }
    }
}
