<ion-view class="login">
  <ion-content>
    <p class="title">
      {{'Login.Auth'|translate}}
    </p>
    <form name="vm.form" novalidate ng-submit="vm.login()">
      <md-input-container class="md-block" flex>
        <label for="email">{{'Login.Email'|translate}}</label>
        <input required
               name="email"
               autocomplete="off"
               maxlength="255"
               id="email"
               ng-pattern="vm.emailRegExp"
               ng-model="vm.data.email"
               aria-label="email"/>
        <div class="error-block" ng-messages="vm.form.email.$error">
          <div class="error-block" ng-message="required">
            {{'SignUp.fieldRequired'|translate}}
          </div>
          <div class="error-block" ng-message-exp="['maxlength', 'pattern']">
            <span class="error">{{'SignUp.emailValid'|translate}}</span>
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label for="password">{{'Login.Password'|translate}}</label>
        <input required
               name="password"
               id="password"
               ng-model="vm.data.password"
               aria-label="password"
               type="password"/>
        <div class="error-block" ng-messages="vm.form.password.$error">
          <div class="error-block" ng-message="required">
            {{'SignUp.fieldRequired'|translate}}
          </div>
        </div>
      </md-input-container>
      <div ng-if="vm.data.password && vm.data.email" class="md-block" layout="row" layout-align="center center">
        <md-checkbox ng-model="vm.data.save"
                     ng-change="vm.AutoSave()"
                     aria-label="Checkbox 1"
                     style="color: grey;">{{'Login.RememberMe' | translate}}
        </md-checkbox>
      </div>
      <div layout="column"  layout-margin>
        <md-button class=" md-raised waves-effect waves-light"
                   type="submit"
                   style="background-color: white; color: #039BE5;"
                   aria-label="true">
          {{'Login.SignIn'|translate}}
        </md-button>
      </div>
    </form>

    <div style="margin-top: 10px" class="link">
      <a  ng-click="vm.signup(); Style = {color: 'grey'}"  ng-style="Style">{{'Login.SignUp'|translate}}</a>
    </div>
    <div style="margin-top: 10px" class="link">
      <a ng-click="vm.resetPass(); myStyle = {color: 'grey'}" ng-style="myStyle">{{'Login.ResetPassword'|translate}}</a>
    </div>
    <div class="link" layout="column" style="margin-top: 10px">
        <span style="color: gray; font-size: 1.0em !important;">{{'Login.DontHaveQuestion'|translate}}</span>
      <a style="text-decoration: none !important; color: #039BE5; font-size: 1.2em;" href="tel:{{'+380662279755'}}">+380662279755</a>
      <span class="pt-5" style="color: gray; font-size: 1.0em !important;">{{'Login.emailMe'|translate}}</span>
      <a style="text-decoration: none !important; color: #039BE5; font-size: 1.2em;" href="mailto:{{'bukadinfo@gmail.com'}}">bukadinfo@gmail.com</a>
    </div>

    <md-input-container layout="row" layout-align="center center">
      <md-select ng-change="vm.selectLanguage()"
                 id="language"
                 name="language"
                 ng-model="vm.language"
                 aria-label="sort">

        <md-option ng-value="'ua'"><img class="flag "  ng-src="img/ua.jpg">
          <span class="language">UA</span>
        </md-option>

        <md-option ng-value="'ru'"><img class="flag " ng-src="img/ru.png">
          <span class="language">RU</span>
        </md-option>
      </md-select>
    </md-input-container>

  </ion-content>
</ion-view>
