.single_fop {
  p.title {
    color: black;
    padding: 5%;
    text-align: center;
    font-size: 1.8em;
  }

  form {
    md-input-container{
      input {
        border-bottom: 1px solid grey;

      }
      label{
        color: #333;
        font-size: 1.1em;
      }

    }


    padding: 0 20px;
    h4{
      color: black;
      font-size: 1.1em;
    }
  }

  .link {
    text-align: center;
    color: #039BE5;
    font-size: 1.2em;
    a {
      padding: 0 5px;
      color: #039BE5;
    }
  }
}
