<ion-view view-title="Єдиний податок ФОП" class="single_fop">
    <ion-content>
        <form  style="padding: 20px">

            <div>
            <label for="data_payer" style="color: #666666; font-size: 1em;">Платник</label>
        <md-input-container class="md-block" flex>
            <input aria-label="123" style="margin-top: -25px" name="data_payer" id="data_payer" ng-model="vm.data.payer" type="text" maxlength="11" >
        </md-input-container>
            </div>

            <div style="margin-top: -25px">
            <label style="color: #666666; font-size: 1em;">Отримувач</label>
        <md-input-container class="md-block" flex>
            <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.getter" type="text" maxlength="11" >
        </md-input-container>
            </div>

            <div style="margin-top: -25px">
            <label style="color: #666666; font-size: 1em;">Код отримувача</label>
        <md-input-container class="md-block" flex>
            <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.getter_code" type="text" >
        </md-input-container>
            </div>

            <div style="margin-top: -25px">
            <label style="color: #666666; font-size: 1em;">Банк отримувача</label>
        <md-input-container class="md-block" flex>
            <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.getter_bank" type="text" >
        </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Розрахунковий рахунок</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.account_number" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Код банку</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.bank_code" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px" ng-if="vm.user_group == 'group3'">
                <label style="color: #666666; font-size: 1em;">Обіг, грн</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.tmp.income" ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/" type="number" >
                </md-input-container>
            </div>

            <div layout="column" layout-align="center center" class="link" layout-margin ng-if="vm.user_group == 'group3'">
                <md-button class=" md-raised waves-effect waves-light"
                           style="background-color: grey; color: white"
                           aria-label="true"
                           ng-click="vm.getSum()">
                    Розрахувати суму
                </md-button>
            </div>

            <div style="margin-top: 25px">
            <label style="color: #666666; font-size: 1em;">Сума податку,грн</label>
        <md-input-container class="md-block" flex>
            <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.sum" ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/" type="number" >
        </md-input-container>
            </div>


            <div style="margin-top: -25px">
            <label style="color: #666666; font-size: 1em;">Призначення</label>
        <md-input-container class="md-block" flex>
            <textarea aria-label="123" disabled style="margin-top: -20px" rows="2" ng-model="vm.data.appointment"></textarea>
        </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Єдиний податок ФОП за</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" ng-change="vm.editDate()" style="margin-top: -25px" ng-model="vm.data.for_time" type="text" >
                </md-input-container>
            </div>

    </form>

      <div layout="column" ng-if="!vm.pay_data.uapay.paymentPageUrl" layout-align="center end" class="link" layout-margin>
        <div class="link" ng-click="vm.payFirstGroup()" style="color: #039BE5 !important;">
          <a>>Продовжити</a>
        </div>
      </div>

        <div layout="column"  ng-if="vm.pay_data.uapay.paymentPageUrl" layout-align="center end" class="link" layout-margin>
            <div class="link" style="color: #039BE5 !important;">
                <a ng-href="{{vm.pay_data.uapay.paymentPageUrl}}">Пiдтвердити</a>
            </div>
        </div>

    </ion-content>
</ion-view>
