<ion-view class="profile" view-title="{{'Taxes.title_profile'|translate}}">
  <ion-content>
    <form style="margin-top: 25px" name="vm.form" novalidate>
      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.ident_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input style="border-bottom: 1px solid #333; margin-top: -15px" aria-label="123" ng-model="vm.data.profile.ident_code"
                 type="text">
        </md-input-container>
      </div>
      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.insurance'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input style="border-bottom: 1px solid #333;  margin-top: -15px" aria-label="123" ng-model="vm.data.profile.insurance"
                 type="text">
        </md-input-container>
      </div>
      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.initials'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input style="border-bottom: 1px solid #333;  margin-top: -15px" aria-label="123" ng-model="vm.data.profile.initials" type="text">
        </md-input-container>
      </div>

      <h4>{{'SignUp.address'|translate}}:</h4>
      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.postcode'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input style="border-bottom: 1px solid #333;  margin-top: -15px" aria-label="123" ng-model="vm.data.profile.postcode" type="text">
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.region'|translate}}</label>
        <md-autocomplete md-search-text-change="vm.searchTextRegionChange(item.searchRegion)"
                         md-selected-item-change="vm.selectedRegionChange(item)"
                         md-selected-item="vm.data.profile.region"
                         md-search-text="item.searchRegion"
                         md-items="item in vm.filterRegion()"
                         md-item-text="item.region"
                         md-require-match
                         md-min-length="0"
                         md-no-cache="true"
                         ng-blur="vm.selectRegion(item.region, $index)"
                         md-floating-label="{{'SignUp.select_region'|translate}}">
          <md-item-template>
                              <span md-highlight-text="item.searchRegion"
                                    md-highlight-flags="^i">{{item.region}}</span>
          </md-item-template>
        </md-autocomplete>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.area'|translate}}</label>
        <md-autocomplete md-search-text-change="vm.searchTextAreaChange(item.searchArea)"
                         md-selected-item-change="vm.selectedAreaChange(item.area)"
                         md-selected-item="vm.data.profile.area"
                         md-search-text="item.searchArea"
                         md-items="item in vm.filterArea()"
                         md-item-text="item.area"
                         md-require-match
                         md-min-length="0"
                         md-no-cache="true"
                         md-floating-label="{{'SignUp.select_area'|translate}}">
          <md-item-template>
                              <span md-highlight-text="item.searchArea"
                                    md-highlight-flags="^i">{{item.area}}</span>
          </md-item-template>
        </md-autocomplete>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.city'|translate}}</label>
        <md-autocomplete md-search-text-change="vm.searchTextChange(item.searchText)"
                         md-selected-item-change="vm.selectedCityChange(item.city)"
                         md-selected-item="vm.data.profile.city"
                         md-search-text="item.searchCity"
                         md-items="item in vm.filterCity()"
                         md-item-text="item.city"
                         md-require-match
                         md-min-length="0"
                         md-no-cache="true"
                         md-floating-label="{{'SignUp.select_city'|translate}}">
          <md-item-template>
                              <span md-highlight-text="item.searchCity"
                                    md-highlight-flags="^i">{{item.city}}</span>
          </md-item-template>
        </md-autocomplete>
      </div>


      <h4>{{'SignUp.details'|translate}}</h4>


      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.dfs_name'|translate}}</label>
        <md-autocomplete md-search-text-change="vm.searchTextDfsChange(item.searchDfs)"
                         md-selected-item-change="vm.selectedDfsChange(item)"
                         md-selected-item="vm.data.profile.dfs_name"
                         md-search-text="item.searchDfs"
                         md-items="item in vm.filterDfs()"
                         md-item-text="item"
                         md-require-match
                         md-min-length="0"
                         md-no-cache="true"
                         md-floating-label="{{'SignUp.select_dfs_name'|translate}}">
          <md-item-template>
                              <span md-highlight-text="item.searchDfs"
                                    md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
        </md-autocomplete>
      </div>



      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.dfs_code'|translate}}</label>
        <md-autocomplete md-search-text-change="vm.searchTextDfs_codeChange(item.searchDfs_code)"
                         md-selected-item-change="vm.selectedDfs_codeChange(item)"
                         md-selected-item="vm.data.profile.dfs_code"
                         md-search-text="item.searchDfs_code"
                         md-items="item in vm.filterDfs_code()"
                         md-item-text="item"
                         md-require-match
                         md-min-length="0"
                         md-no-cache="true"
                         md-floating-label="{{'SignUp.select_dfs_code'|translate}}">
          <md-item-template>
                              <span md-highlight-text="item.searchDfs_code"
                                    md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
        </md-autocomplete>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.kved_topic'|translate}}</label>
        <md-input-container class="md-block" flex>
          <md-select ng-change="vm.getGroups(vm.data.profile.kved_topic)"
                     ng-init="vm.getGroups(vm.data.profile.kved_topic)"
                     id="topic"
                     style="border-bottom: 1px solid #333; margin-top: -15px"
                     ng-model="vm.data.profile.kved_topic"
                     aria-label="sort">
            <md-option ng-value="topic" ng-repeat="topic in vm.topic">{{topic}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.kved_group'|translate}}</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333;  margin-top: -15px" ng-change="vm.getClass(vm.data.profile.kved_group)"
                     ng-init="vm.getClass(vm.data.profile.kved_group)" id="group" ng-model="vm.data.profile.kved_group"
                     aria-label="sort">
            <md-option ng-value="group" ng-repeat="group in vm.groups">{{group}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.kved_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333; margin-top: -15px" id="class" ng-model="vm.data.profile.kved_class"
                     aria-label="sort">
            <md-option ng-value="class" ng-repeat="class in vm.class">{{class}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.pfu_code'|translate}}</label>
        <md-autocomplete md-search-text-change="vm.searchTextPfuChange(item.searchPfu)"
                         md-selected-item-change="vm.selectedPfuChange(item)"
                         md-selected-item="vm.data.profile.pfu"
                         md-search-text="item.searchPfu"
                         md-items="item in vm.filterPfu()"
                         md-item-text="item"
                         md-require-match
                         md-min-length="0"
                         md-no-cache="true"
                         md-floating-label="{{'SignUp.select_pfu_code'|translate}}">
          <md-item-template>
                              <span md-highlight-text="item.searchPfu"
                                    md-highlight-flags="^i">{{item}}</span>
          </md-item-template>
        </md-autocomplete>
      </div>


      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.group'|translate}}</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333" id="group" ng-model="vm.data.profile.group"
                     name="group"
                     aria-label="group">
            <md-option value="group1">1</md-option>
            <md-option value="group2">2</md-option>
            <md-option value="group3">3</md-option>
          </md-select>
        </md-input-container>
      </div>


      <div layout="row" layout-align="space-between center">
            <span style="color: #666666; font-size: 1.1em">{{'SignUp.status'|translate}} <br>
                <span class="secondText">{{'SignUp.status_status'|translate}}</span></span>
        <div style="margin-top: 15px" layout="row" layout-align="space-around">
          <md-checkbox id="first_group_special"
                       ng-model="vm.data.profile.status"
                       aria-label="first_group">
            <span style="color: black">Так</span>
          </md-checkbox>
        </div>
      </div>

      <h4>{{'SignUp.data'|translate}}</h4>

      <div>
        <label style="color: #666666; font-size: 1em;">{{'SignUp.email'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123" style="border-bottom: 1px solid #333;  margin-top: -15px" ng-model="vm.data.email" type="text">
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'OldPassword'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            name="password"
            style="margin-top: -15px"
            id="password"
            ng-model="vm.data.password"
            aria-label="password"
            type="password"/>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'ChangePassword'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            name="password"
            style="margin-top: -15px"
            id="password"
            ng-model="vm.data.new_password"
            aria-label="password"
            type="password"/>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'SignUp.tpassword'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input
            name="tpassword"
            style="margin-top: -15px"
            id="tpassword"
            ng-pattern="vm.data.new_password"
            ng-model="vm.password"
            aria-label="password"
            type="password"/>
          <div class="error-block" ng-messages="vm.form.tpassword.$error">
            <div class="error-block" ng-message-exp="['pattern']">
              <span class="error">{{'SignUp.passValid'|translate}}</span>
            </div>
          </div>
        </md-input-container>
      </div>


    </form>
    <div layout="row" layout-align="space-around center" layout-margin>
      <md-button flex="70" class=" md-raised waves-effect waves-light"
                 style="background-color: grey; color: white"
                 ng-click="vm.update()"
                 aria-label="true">
        {{'Taxes.save_data'|translate}}
      </md-button>
      <md-input-container flex="25" layout="row" layout-align="center center">
        <md-select ng-change="vm.selectLanguage()"
                   id="language"
                   name="language"
                   ng-model="vm.mainLanguage"
                   aria-label="sort">

          <md-option ng-value="'ua'"><img class="flag pr-5 pt-10" ng-src="img/ua.jpg">
            <span class="language">UA</span>
          </md-option>

          <md-option ng-value="'ru'"><img class="flag pr-5 pt-10" ng-src="img/ru.png">
            <span class="language">RU</span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>



  </ion-content>
</ion-view>
