.profile {
    p.title {
        color: black;
        padding: 5%;
        text-align: center;
        font-size: 1.5em;
    }

    form {
        md-input-container{
            input {
                border-bottom: 1px solid grey;
                word-wrap: break-word !important;
                width: 100% !important;

            }
            label{
                color: #333;
                font-size: 1.1em;
            }

        }

        .md-virtual-repeat-container.md-autocomplete-suggestions-container {
          height: 420px;
          max-height: 420px !important;
        }


        padding: 0 20px;
    }

  .save {
    background-color: white;
    color: black;
  }

    .link {
        text-align: center;
        color: #039BE5;
        font-size: 1.2em;
        a {
            padding: 0 5px;
            color: #039BE5;
        }
    }
}
