<ion-view class="profile" view-title="Налаштування профілю">
  <ion-content>
    <form style="margin-top: 25px" name="vm.form" novalidate>
      <div>
        <label style="color: #666666; font-size: 1em;">Ідентифікаційний код</label>
        <md-input-container class="md-block" flex>
          <input style="border-bottom: 1px solid #333" aria-label="123" ng-model="vm.data.profile.ident_code"
                 type="text">
        </md-input-container>
      </div>
      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">Номер страхувальника</label>
        <md-input-container class="md-block" flex>
          <input style="border-bottom: 1px solid #333" aria-label="123" ng-model="vm.data.profile.insurance"
                 type="text">
        </md-input-container>
      </div>
      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">ПІП</label>
        <md-input-container class="md-block" flex>
          <input style="border-bottom: 1px solid #333" aria-label="123" ng-model="vm.data.profile.initials" type="text">
        </md-input-container>
      </div>

      <h4>Адреса:</h4>
      <div>
        <label style="color: #666666; font-size: 1em;">Індекс</label>
        <md-input-container class="md-block" flex>
          <input style="border-bottom: 1px solid #333" aria-label="123" ng-model="vm.data.profile.postcode" type="text">
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Область</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333"
                     ng-change="vm.getArea(vm.data.profile.region)"
                     ng-init="vm.getArea(vm.data.profile.region)"
                     id="region" ng-model="vm.data.profile.region"
                     aria-label="sort">
            <md-option ng-value="region.region" ng-repeat="region in vm.regions">{{region.region}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Район</label>
        <md-input-container class="md-block"
                            flex>
          <md-select style="border-bottom: 1px solid #333"
                     ng-change="vm.getCities(vm.data.profile.area, vm.data.profile.region)"
                     ng-init="vm.getCities(vm.data.profile.area, vm.data.profile.region)"
                     id="area" ng-model="vm.data.profile.area"
                     aria-label="sort">
            <md-option ng-value="area.area" ng-repeat="area in vm.areas">{{area.area}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Місто/село</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333" id="city" ng-model="vm.data.profile.city"
                     aria-label="sort">
            <md-option ng-value="city.city" ng-repeat="city in vm.cities">{{city.city}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>


      <h4>Деталі:</h4>


      <div>
        <label style="color: #666666; font-size: 1em;">Назва органу ДФС</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333"
                     id="pfu" ng-model="vm.data.profile.dfs_name"
                     aria-label="sort">
            <md-option ng-value="dfs_code" ng-repeat="dfs_code in vm.dfs_code">{{dfs_code}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Код ДФС</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333"
                     id="pfu_code" ng-model="vm.data.profile.dfs_code"
                     aria-label="sort">
            <md-option ng-value="dfs_code.code" ng-repeat="dfs_code in vm.dfs_code_code">{{dfs_code.code}},
              {{dfs_code.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Розділ КВЄД</label>
        <md-input-container class="md-block" flex>
          <md-select ng-change="vm.getGroups(vm.data.profile.kved_topic)"
                     ng-init="vm.getGroups(vm.data.profile.kved_topic)"
                     id="topic"
                     style="border-bottom: 1px solid #333"
                     ng-model="vm.data.profile.kved_topic"
                     aria-label="sort">
            <md-option ng-value="topic" ng-repeat="topic in vm.topic">{{topic}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Група КВЄД</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333" ng-change="vm.getClass(vm.data.profile.kved_group)"
                     ng-init="vm.getClass(vm.data.profile.kved_group)" id="group" ng-model="vm.data.profile.kved_group"
                     aria-label="sort">
            <md-option ng-value="group" ng-repeat="group in vm.groups">{{group}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Клас КВЄД</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333" id="class" ng-model="vm.data.profile.kved_class"
                     aria-label="sort">
            <md-option ng-value="class" ng-repeat="class in vm.class">{{class}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <label style="color: #666666; font-size: 1em;">Код ПФУ</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333"
                     id="pfu_code" ng-model="vm.data.profile.pfu_name"
                     aria-label="sort">
            <md-option ng-value="dfs_code.pfu_name" ng-repeat="dfs_code in vm.pfu_code">{{dfs_code.code}},
              {{dfs_code.pfu_name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>


      <div>
        <label style="color: #666666; font-size: 1em;">Група єдиного податку:</label>
        <md-input-container class="md-block" flex>
          <md-select style="border-bottom: 1px solid #333" id="group" ng-model="vm.data.profile.group"
                     name="group"
                     aria-label="group">
            <md-option value="group1">1</md-option>
            <md-option value="group2">2</md-option>
            <md-option value="group3">3</md-option>
          </md-select>
        </md-input-container>
      </div>


      <div layout="row" layout-align="space-between center">
            <span style="color: #666666; font-size: 1.1em">Особливий статус ФОП: <br>
                <span class="secondText">(пенсіонер/інвалід)</span></span>
        <div style="margin-top: 15px" layout="row" layout-align="space-around">
          <md-checkbox id="first_group_special"
                       ng-model="vm.data.profile.status"
                       aria-label="first_group">
            <span style="color: black">Так</span>
          </md-checkbox>
        </div>
      </div>

      <h4>Дані аккаунту:</h4>

      <div>
        <label style="color: #666666; font-size: 1em;">Електронна пошта</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123" style="border-bottom: 1px solid #333" ng-model="vm.data.email" type="text">
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">Пароль</label>
        <md-input-container class="md-block" flex>
          <input
            name="password"
            id="password"
            ng-model="vm.data.password"
            aria-label="password"
            type="password"/>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">Пiдтвердити пароль</label>
        <md-input-container class="md-block" flex>
          <input
            name="tpassword"
            id="tpassword"
            ng-pattern="vm.data.password"
            ng-model="vm.password"
            aria-label="password"
            type="password"/>
          <div class="error-block" ng-messages="vm.form.tpassword.$error">
            <div class="error-block" ng-message-exp="['pattern']">
              <span class="error">Паролi не спiвпадають!</span>
            </div>
          </div>
        </md-input-container>
      </div>


    </form>
    <div layout="column" layout-margin>
      <md-button class=" md-raised waves-effect waves-light"
                 style="background-color: #039BE5; color: white"
                 ng-click="vm.update()"
                 aria-label="true">
        Зберегти
      </md-button>
    </div>

  </ion-content>
</ion-view>
