<ion-view class="profile" view-title="Налаштування профілю">
    <ion-content>
        <form style="margin-top: 25px">
            <div>
                <label style="color: #666666; font-size: 1em;">Ідентифікаційний код</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.profile.ident_code" type="text" >
                </md-input-container>
            </div>
            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Номер страхувальника</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.profile.insurance" type="text" >
                </md-input-container>
            </div>
            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">ПІП</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.profile.initials" type="text" >
                </md-input-container>
            </div>

            <h4>Адреса:</h4>

            <div>
                <label style="color: #666666; font-size: 1em;">Місто та область</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.profile.city" type="text">
                </md-input-container>
            </div>


            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Індекс</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.profile.postcode" type="text" >
                </md-input-container>
            </div>


            <h4>Деталі:</h4>

            <div>
                <label style="color: #666666; font-size: 1em;">Група єдиного податку:</label>
                <md-input-container class="md-block" flex>
                    <md-select style="margin-top: -25px" id="group" ng-model="vm.data.profile.group"
                               name="group"
                               aria-label="group">
                        <md-option value="group1">1</md-option>
                        <md-option value="group2">2</md-option>
                        <md-option value="group3">3</md-option>
                    </md-select>
                </md-input-container>
            </div>


            <div layout="row" layout-align="space-between center">
            <span style="color: #666666; font-size: 1.1em">Особливий статус ФОП: <br>
                <span class="secondText">(пенсіонер/інвалід)</span></span>
                <div style="margin-top: 15px" layout="row" layout-align="space-around">
                    <md-checkbox id="first_group_special"
                                 ng-model="vm.data.profile.status"
                                 aria-label="first_group">
                        <span style="color: black">Так</span>
                    </md-checkbox>
                </div>
            </div>

            <div>
                <label style="color: #666666; font-size: 1em;">Основний КВЄД</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.profile.kved_code" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Код ДФС</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.profile.dfs_code" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Код ПФУ</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.profile.pfu_code" type="text" >
                </md-input-container>
            </div>




            <h4>Дані акаунту:</h4>

            <div>
                <label style="color: #666666; font-size: 1em;">Електронна пошта</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.email" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Пароль</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.password" type="password" >
                </md-input-container>
            </div>


        </form>
        <div layout="column" layout-margin>
            <md-button class=" md-raised waves-effect waves-light"
                       style="background-color: #039BE5; color: white"
                       ng-click="vm.update()"
                       aria-label="true">
                Зберегти
            </md-button>
        </div>

    </ion-content>
</ion-view>
