<ion-view view-title="{{vm.title}}" class="pay_staff_tax">
    <ion-content>
        <form ng-if="vm.type == 1">
            <div>
                <label for="data_payer" style="color: #666666; font-size: 1em;">Платник</label>
                <md-input-container class="md-block" flex>
                    <input style="margin-top: -25px" name="data_payer" id="data_payer" aria-label="123" ng-model="vm.data.army.payer" type="text" maxlength="11" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Отримувач</label>
                <md-input-container class="md-block" flex>
                    <input style="margin-top: -25px"  ng-model="vm.data.army.getter" aria-label="123" type="text" maxlength="11" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Код отримувача</label>
                <md-input-container class="md-block" flex>
                    <input style="margin-top: -25px" aria-label="123"  ng-model="vm.data.army.getter_code" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Банк отримувача</label>
                <md-input-container class="md-block" flex>
                    <input style="margin-top: -25px" aria-label="123"  ng-model="vm.data.army.getter_bank" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Розрахунковий рахунок</label>
                <md-input-container class="md-block" flex>
                    <input style="margin-top: -25px" aria-label="123"  ng-model="vm.data.army.account_number" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Код банку</label>
                <md-input-container class="md-block" flex>
                    <input style="margin-top: -25px" aria-label="123"  ng-model="vm.data.army.bank_code" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: 25px">
                <label style="color: #666666; font-size: 1em;">Сума податку,грн</label>
                <md-input-container class="md-block" flex>
                    <input style="margin-top: -25px"  aria-label="123"  ng-model="vm.tmp.army_tax" ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/" type="number" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Призначення</label>
                <md-input-container class="md-block" flex>
                    <textarea disabled style="margin-top: -20px" aria-label="123" rows="2" ng-model="vm.data.army.appointment"></textarea>
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Єдиний податок ФОП за</label>
                <md-input-container class="md-block" flex>
                    <input style="margin-top: -25px" aria-label="123" ng-model="vm.data.army.for_time" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Номер картки:</label>
                <md-input-container class="md-block" flex>
                    <input style="margin-top: -25px" aria-label="123" ng-model="vm.data.army.card_number" type="text" >
                </md-input-container>
            </div>

            <div layout="row" style="margin-top: 25px" layout-align="space-between">
                <span style="font-size: 1.2em; color:  #666666">Срок<br> дії:</span>
                <md-input-container style="margin-left: 10px" class="md-block">
                    <input style="width: 30px; height: 30px; font-size: 1.1em; border: 1px solid #666666; margin-top: -10px;" aria-label="123"
                           ng-model="vm.data.army.month" type="number"
                    >
                </md-input-container>
                <md-input-container style="margin-left: 10px" class="md-block">
                    <input style="width: 30px; height: 30px; font-size: 1.1em; border: 1px solid #666666; margin-top: -10px;" aria-label="123"
                           ng-model="vm.data.army.year" type="number"
                    >
                </md-input-container>
                <span style="font-size: 1.2em; color:  #666666; margin-left: 10px">CVV2/<br>CVC2:</span>
                <md-input-container style="margin-left: 10px" class="md-block">
                    <input style="width: 50px; height: 30px; font-size: 1.3em; border: 1px solid #666666; margin-top: -10px;" aria-label="123"
                           ng-model="vm.data.army.cvv_code" type="number"
                    >
                </md-input-container>
            </div>
        </form>

        <form ng-if="vm.type == 2">
            <div>
                <label for="data_payer" style="color: #666666; font-size: 1em;">Платник</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" name="data_payer" id="data_payer" ng-model="vm.data.income_tax.payer" type="text" maxlength="11" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Отримувач</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.income_tax.getter" type="text" maxlength="11" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Код отримувача</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.income_tax.getter_code" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Банк отримувача</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.income_tax.getter_bank" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Розрахунковий рахунок</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.income_tax.account_number" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Код банку</label>
                <md-input-container class="md-block" flex>
                    <input  aria-label="123" style="margin-top: -25px"  ng-model="vm.data.income_tax.bank_code" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: 25px">
                <label style="color: #666666; font-size: 1em;">Сума податку,грн</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.tmp.income_tax" ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/" type="number" >
                </md-input-container>
            </div>


            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Призначення</label>
                <md-input-container class="md-block" flex>
                    <textarea aria-label="123" disabled style="margin-top: -20px" rows="2" ng-model="vm.data.income_tax.appointment"></textarea>
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Єдиний податок ФОП за</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" ng-model="vm.data.income_tax.for_time" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Номер картки:</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.income_tax.card_number" type="text" >
                </md-input-container>
            </div>

            <div layout="row" style="margin-top: 25px" layout-align="space-between">
                <span style="font-size: 1.2em; color:  #666666">Срок<br> дії:</span>
                <md-input-container style="margin-left: 10px" class="md-block">
                    <input aria-label="123" style="width: 30px; height: 30px; font-size: 1.1em; border: 1px solid #666666; margin-top: -10px;"
                           ng-model="vm.data.income_tax.month" type="number"
                    >
                </md-input-container>
                <md-input-container style="margin-left: 10px" class="md-block">
                    <input aria-label="123" style="width: 30px; height: 30px; font-size: 1.1em; border: 1px solid #666666; margin-top: -10px;"
                           ng-model="vm.data.income_tax.year" type="number"
                    >
                </md-input-container>
                <span style="font-size: 1.2em; color:  #666666; margin-left: 10px">CVV2/<br>CVC2:</span>
                <md-input-container style="margin-left: 10px" class="md-block">
                    <input style="width: 50px; height: 30px; font-size: 1.3em; border: 1px solid #666666; margin-top: -10px;" aria-label="123"
                           ng-model="vm.data.income_tax.cvv_code" type="number"
                    >
                </md-input-container>
            </div>
        </form>

        <form ng-if="vm.type == 3">
            <div>
                <label for="data_payer" style="color: #666666; font-size: 1em;">Платник</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px" name="data_payer" id="data_payer" ng-model="vm.data.esv.payer" type="text" maxlength="11" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Отримувач</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.esv.getter" type="text" maxlength="11" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Код отримувача</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.esv.getter_code" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Банк отримувача</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.esv.getter_bank" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Розрахунковий рахунок</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.esv.account_number" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Код банку</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.esv.bank_code" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: 25px">
                <label style="color: #666666; font-size: 1em;">Сума податку,грн</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.tmp.esv_tax" ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/" type="number" >
                </md-input-container>
            </div>


            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Призначення</label>
                <md-input-container class="md-block" flex>
                    <textarea aria-label="123" disabled style="margin-top: -20px" rows="2" ng-model="vm.data.esv.appointment"></textarea>
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Єдиний податок ФОП за</label>
                <md-input-container class="md-block" flex>
                    <input  aria-label="123" style="margin-top: -25px" ng-model="vm.data.esv.for_time" type="text" >
                </md-input-container>
            </div>

            <div style="margin-top: -25px">
                <label style="color: #666666; font-size: 1em;">Номер картки:</label>
                <md-input-container class="md-block" flex>
                    <input aria-label="123" style="margin-top: -25px"  ng-model="vm.data.esv.card_number" type="text" >
                </md-input-container>
            </div>

            <div layout="row" style="margin-top: 25px" layout-align="space-between">
                <span style="font-size: 1.2em; color:  #666666">Срок<br> дії:</span>
                <md-input-container style="margin-left: 10px" class="md-block">
                    <input aria-label="123" style="width: 30px; height: 30px; font-size: 1.1em; border: 1px solid #666666; margin-top: -10px;"
                           ng-model="vm.data.esv.month" type="number"
                    >
                </md-input-container>
                <md-input-container style="margin-left: 10px" class="md-block">
                    <input aria-label="123" style="width: 30px; height: 30px; font-size: 1.1em; border: 1px solid #666666; margin-top: -10px;"
                           ng-model="vm.data.esv.year" type="number"
                    >
                </md-input-container>
                <span style="font-size: 1.2em; color:  #666666; margin-left: 10px">CVV2/<br>CVC2:</span>
                <md-input-container  style="margin-left: 10px" class="md-block">
                    <input aria-label="123" style="width: 50px; height: 30px; font-size: 1.3em; border: 1px solid #666666; margin-top: -10px;"
                           ng-model="vm.data.esv.cvv_code" type="number"
                    >
                </md-input-container>
            </div>
        </form>




        <div layout="column" style="margin-top: 25px" layout-align="center center" class="link">
            <md-checkbox ng-model="vm.data.army.email_invoice" aria-label="Checkbox 1">
                <span style="color: black">Отримати квитанцію на пошту</span>
            </md-checkbox>

        </div>
        <div layout="column" style="margin-top: 25px" layout-align="center center" class="link">
            <md-button ng-if="vm.type == 1" class=" md-raised waves-effect waves-light BTN"
                       ui-sref="app.list_of_staffTax({count_workers: vm.count_workers})"
                       ng-click="vm.payArmy()"
                       aria-label="true">
                Oплатити
            </md-button>
            <md-button ng-if="vm.type == 2" class=" md-raised waves-effect waves-light BTN"
                       ui-sref="app.list_of_staffTax({count_workers: vm.count_workers})"
                       ng-click="vm.payIncome_tax()"
                       aria-label="true">
                Oплатити
            </md-button>
            <md-button ng-if="vm.type == 3" class=" md-raised waves-effect waves-light BTN"
                       ui-sref="app.list_of_staffTax({count_workers: vm.count_workers})"
                       ng-click="vm.payEsv()"
                       aria-label="true">
                Oплатити
            </md-button>

        </div>

    </ion-content>
</ion-view>
