<ion-view view-title="{{vm.title}}" class="pay_staff_tax">
  <ion-content>
    <form ng-if="vm.type == 1" name="vm.form" novalidate>
      <div>
        <label for="data_payer" style="color: #666666; font-size: 1em;">{{'Taxes.data_payer'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 name="data_payer"
                 id="data_payer"
                 ng-model="vm.data.payer"
                 type="text">
          <div class="error-block" ng-messages="vm.form.data_payer.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="getter"
                 name="getter"
                 ng-model="vm.data.getter"
                 type="text"
          >
          <div class="error-block" ng-messages="vm.form.getter.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="getter_code"
                 name="getter_code"
                 ng-model="vm.data.getter_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_bank'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="getter_bank"
                 name="getter_bank"
                 ng-model="vm.data.getter_bank"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_bank.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.account_number'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="account_number"
                 name="account_number"
                 ng-model="vm.data.account_number"
                 type="text">
          <div class="error-block" ng-messages="vm.form.account_number.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.bank_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="bank_code"
                 name="bank_code"
                 ng-model="vm.data.bank_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.bank_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: 25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.sum'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 name="army_tax"
                 ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/"
                 ng-model="vm.tmp.army_tax"
                 type="number">
          <div class="error-block" ng-messages="vm.form.army_tax.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.appointment'|translate}}</label>
        <md-input-container class="md-block" flex>
          <textarea aria-label="123"
                    disabled
                    rows="2"
                    required
                    id="appointment"
                    name="appointment"
                    ng-model="vm.data.appointment"></textarea>
          <div class="error-block" ng-messages="vm.form.for_time.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.for_time'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="for_time"
                 name="for_time"
                 ng-change="vm.editDate()"
                 ng-model="vm.data.for_time"
                 type="text">
          <div class="error-block" ng-messages="vm.form.for_time.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>
    </form>

    <form ng-if="vm.type == 2" name="vm.form" novalidate>
      <div>
        <label for="data_payer" style="color: #666666; font-size: 1em;">{{'Taxes.data_payer'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 name="data_payer"
                 id="data_payer"
                 ng-model="vm.data.payer"
                 type="text">
          <div class="error-block" ng-messages="vm.form.data_payer.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="getter"
                 name="getter"
                 ng-model="vm.data.getter"
                 type="text"
          >
          <div class="error-block" ng-messages="vm.form.getter.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="getter_code"
                 name="getter_code"
                 ng-model="vm.data.getter_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_bank'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="getter_bank"
                 name="getter_bank"
                 ng-model="vm.data.getter_bank"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_bank.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.account_number'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="account_number"
                 name="account_number"
                 ng-model="vm.data.account_number"
                 type="text">
          <div class="error-block" ng-messages="vm.form.account_number.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.bank_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="bank_code"
                 name="bank_code"
                 ng-model="vm.data.bank_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.bank_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: 25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.sum'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 name="income_tax"
                 ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/"
                 ng-model="vm.tmp.income_tax"
                 type="number">
          <div class="error-block" ng-messages="vm.form.income_tax.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>


      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.appointment'|translate}}</label>
        <md-input-container class="md-block" flex>
          <textarea aria-label="123"
                    disabled
                    rows="2"
                    required
                    id="appointment"
                    name="appointment"
                    ng-model="vm.data.appointment"></textarea>
        </md-input-container>
        <div class="error-block" ng-messages="vm.form.appointment.$error">
          <div class="error-block" ng-message="required">
            {{'SignUp.fieldRequired'|translate}}
          </div>
        </div>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.for_time'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="for_time"
                 name="for_time"
                 ng-change="vm.editDate()"
                 ng-model="vm.data.for_time"
                 type="text">
          <div class="error-block" ng-messages="vm.form.for_time.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

    </form>

    <form ng-if="vm.type == 3" name="vm.form" novalidate>
      <div>
        <label for="data_payer" style="color: #666666; font-size: 1em;">{{'Taxes.data_payer'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 name="data_payer"
                 id="data_payer"
                 ng-model="vm.data.payer"
                 type="text">
          <div class="error-block" ng-messages="vm.form.data_payer.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="getter"
                 name="getter"
                 ng-model="vm.data.getter"
                 type="text"
          >
          <div class="error-block" ng-messages="vm.form.getter.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="getter_code"
                 name="getter_code"
                 ng-model="vm.data.getter_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_bank'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="getter_bank"
                 name="getter_bank"
                 ng-model="vm.data.getter_bank"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_bank.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.account_number'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="account_number"
                 name="account_number"
                 ng-model="vm.data.account_number"
                 type="text">
          <div class="error-block" ng-messages="vm.form.account_number.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.bank_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="bank_code"
                 name="bank_code"
                 ng-model="vm.data.bank_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.bank_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: 25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.sum'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 ng-model="vm.tmp.esv_tax"
                 name="esv_tax"
                 ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/"
                 type="number">
          <div class="error-block" ng-messages="vm.form.esv_tax.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>


      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.appointment'|translate}}</label>
        <md-input-container class="md-block" flex>
          <textarea aria-label="123"
                    disabled
                    rows="2"
                    required
                    id="appointment"
                    name="appointment"
                    ng-model="vm.data.appointment"></textarea>
          <div class="error-block" ng-messages="vm.form.appointment.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div> </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.for_time'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 required
                 id="for_time"
                 name="for_time"
                 ng-change="vm.editDate()"
                 ng-model="vm.data.for_time"
                 type="text">
          <div class="error-block" ng-messages="vm.form.for_time.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

    </form>

    <div layout="column" layout-align="center end" class="link" layout-margin>
      <div class="link" ng-click="vm.payArmy()" ng-if="vm.type == 1" style="color: #039BE5 !important;">
        <a>{{'SignUp.continue'|translate}}</a>
      </div>
      <div class="link" ng-click="vm.payIncome_tax()" ng-if="vm.type == 2" style="color: #039BE5 !important;">
        <a>{{'SignUp.continue'|translate}}</a>
      </div>
      <div class="link" ng-click="vm.payEsv()" ng-if="vm.type == 3" style="color: #039BE5 !important;">
        <a>{{'SignUp.continue'|translate}}</a>
      </div>
    </div>


  </ion-content>
</ion-view>
