<ion-view view-title="{{vm.title}}" class="pay_staff_tax">
  <ion-content>
    <form ng-if="vm.type == 1" ng-submit="vm.payArmy()" name="vm.form" novalidate>
      <div>
        <label for="data_payer" style="color: #666666; font-size: 1em;">{{'Taxes.data_payer'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 name="data_payer"
                 id="data_payer"
                 ng-model="vm.data.payer"
                 type="text">
          <div class="error-block" ng-messages="vm.form.data_payer.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="getter"
                 name="getter"
                 ng-model="vm.data.getter"
                 type="text"
          >
          <div class="error-block" ng-messages="vm.form.getter.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="getter_code"
                 name="getter_code"
                 ng-model="vm.data.getter_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_bank'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="getter_bank"
                 name="getter_bank"
                 ng-model="vm.data.getter_bank"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_bank.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.account_number'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="account_number"
                 name="account_number"
                 ng-model="vm.data.account_number"
                 type="text">
          <div class="error-block" ng-messages="vm.form.account_number.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.bank_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="bank_code"
                 name="bank_code"
                 ng-model="vm.data.bank_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.bank_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: 25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.sum'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px"
                 name="army_tax"
                 ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/"
                 ng-model="vm.tmp.army_tax"
                 type="number">
          <div class="error-block" ng-messages="vm.form.army_tax.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.appointment'|translate}}</label>
        <md-input-container class="md-block" flex>
          <textarea aria-label="123"
                    style="margin-top: -15px; color: black"
                    disabled
                    rows="2"
                    required
                    id="appointment"
                    name="appointment"
                    ng-model="vm.data.appointment"></textarea>
          <div class="error-block" ng-messages="vm.form.for_time.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.for_time'|translate}}</label>
        <div layout="row" layout-align="space-between center">
          <md-input-container flex="45" class="md-block">
            <label for="month">{{'Month'|translate}}</label>
            <md-select id="month"
                       ng-change="vm.editDate()"
                       style="border-bottom: 1px solid #333; "
                       ng-model="vm.data.month"
                       aria-label="sort">
              <md-option ng-value="topic" ng-repeat="topic in vm.getMonth()">{{topic}}
              </md-option>
            </md-select>
            <div class="error-block" ng-messages="vm.form.month.$error">
              <div class="error-block" ng-message="required">
                {{'SignUp.fieldRequired'|translate}}
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="45" class="md-block">
            <label for="year">{{'Year'|translate}}</label>
            <md-select id="year"
                       ng-change="vm.editDate()"
                       style="border-bottom: 1px solid #333;"
                       ng-model="vm.data.year"
                       aria-label="sort">
              <md-option ng-value="topic" ng-repeat="topic in vm.getYear()">{{topic}}
              </md-option>
            </md-select>
            <div class="error-block" ng-messages="vm.form.month.$error">
              <div class="error-block" ng-message="required">
                {{'SignUp.fieldRequired'|translate}}
              </div>
            </div>
          </md-input-container>
        </div>
      </div>

      <div layout="column"
           layout-align="center end" class="link" layout-margin>
        <div class="link" style="color: #039BE5 !important;">
          <md-button md-no-ink class="md-primary" style="font-size: 17px" type="submit">{{'SignUp.continue'|translate}}</md-button>
        </div>
      </div>
    </form>

    <form ng-if="vm.type == 2" ng-submit="vm.payIncome_tax()" name="vm.form" novalidate>
      <div>
        <label for="data_payer" style="color: #666666; font-size: 1em;">{{'Taxes.data_payer'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 name="data_payer"
                 id="data_payer"
                 ng-model="vm.data.payer"
                 type="text">
          <div class="error-block" ng-messages="vm.form.data_payer.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="getter"
                 name="getter"
                 ng-model="vm.data.getter"
                 type="text"
          >
          <div class="error-block" ng-messages="vm.form.getter.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="getter_code"
                 name="getter_code"
                 ng-model="vm.data.getter_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_bank'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="getter_bank"
                 name="getter_bank"
                 ng-model="vm.data.getter_bank"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_bank.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.account_number'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="account_number"
                 name="account_number"
                 ng-model="vm.data.account_number"
                 type="text">
          <div class="error-block" ng-messages="vm.form.account_number.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.bank_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="bank_code"
                 name="bank_code"
                 ng-model="vm.data.bank_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.bank_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: 25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.sum'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px"
                 name="income_tax"
                 ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/"
                 ng-model="vm.tmp.income_tax"
                 type="number">
          <div class="error-block" ng-messages="vm.form.income_tax.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>


      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.appointment'|translate}}</label>
        <md-input-container class="md-block" flex>
          <textarea aria-label="123"
                    style="margin-top: -15px; color: black"
                    disabled
                    rows="2"
                    required
                    id="appointment"
                    name="appointment"
                    ng-model="vm.data.appointment"></textarea>
        </md-input-container>
        <div class="error-block" ng-messages="vm.form.appointment.$error">
          <div class="error-block" ng-message="required">
            {{'SignUp.fieldRequired'|translate}}
          </div>
        </div>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.for_time'|translate}}</label>
        <div layout="row" layout-align="space-between center">
          <md-input-container flex="45" class="md-block">
            <label for="month">{{'Month'|translate}}</label>
            <md-select id="month"
                       ng-change="vm.editDate()"
                       style="border-bottom: 1px solid #333; "
                       ng-model="vm.data.month"
                       aria-label="sort">
              <md-option ng-value="topic" ng-repeat="topic in vm.getMonth()">{{topic}}
              </md-option>
            </md-select>
            <div class="error-block" ng-messages="vm.form.month.$error">
              <div class="error-block" ng-message="required">
                {{'SignUp.fieldRequired'|translate}}
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="45" class="md-block">
            <label for="year">{{'Year'|translate}}</label>
            <md-select id="year"
                       ng-change="vm.editDate()"
                       style="border-bottom: 1px solid #333;"
                       ng-model="vm.data.year"
                       aria-label="sort">
              <md-option ng-value="topic" ng-repeat="topic in vm.getYear()">{{topic}}
              </md-option>
            </md-select>
            <div class="error-block" ng-messages="vm.form.month.$error">
              <div class="error-block" ng-message="required">
                {{'SignUp.fieldRequired'|translate}}
              </div>
            </div>
          </md-input-container>
        </div>
      </div>

      <div layout="column"
           layout-align="center end" class="link" layout-margin>
        <div class="link" style="color: #039BE5 !important;">
          <md-button md-no-ink class="md-primary" style="font-size: 17px" type="submit">{{'SignUp.continue'|translate}}</md-button>
        </div>
      </div>

    </form>

    <form ng-if="vm.type == 3" ng-submit="vm.payEsv()" name="vm.form" novalidate>
      <div>
        <label for="data_payer" style="color: #666666; font-size: 1em;">{{'Taxes.data_payer'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 name="data_payer"
                 id="data_payer"
                 ng-model="vm.data.payer"
                 type="text">
          <div class="error-block" ng-messages="vm.form.data_payer.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="getter"
                 name="getter"
                 ng-model="vm.data.getter"
                 type="text"
          >
          <div class="error-block" ng-messages="vm.form.getter.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="getter_code"
                 name="getter_code"
                 ng-model="vm.data.getter_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_bank'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="getter_bank"
                 name="getter_bank"
                 ng-model="vm.data.getter_bank"
                 type="text">
          <div class="error-block" ng-messages="vm.form.getter_bank.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.account_number'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="account_number"
                 name="account_number"
                 ng-model="vm.data.account_number"
                 type="text">
          <div class="error-block" ng-messages="vm.form.account_number.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.bank_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 id="bank_code"
                 name="bank_code"
                 ng-model="vm.data.bank_code"
                 type="text">
          <div class="error-block" ng-messages="vm.form.bank_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: 25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.sum'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px"
                 ng-model="vm.tmp.esv_tax"
                 name="esv_tax"
                 ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/"
                 type="number">
          <div class="error-block" ng-messages="vm.form.esv_tax.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>


      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.appointment'|translate}}</label>
        <md-input-container class="md-block" flex>
          <textarea aria-label="123"
                    style="margin-top: -15px; color: black"
                    disabled
                    rows="2"
                    required
                    id="appointment"
                    name="appointment"
                    ng-model="vm.data.appointment"></textarea>
          <div class="error-block" ng-messages="vm.form.appointment.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div> </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.for_time'|translate}}</label>
        <div layout="row" layout-align="space-between center">
          <md-input-container flex="45" class="md-block">
            <label for="month">{{'Month'|translate}}</label>
            <md-select id="month"
                       ng-change="vm.editDate()"
                       style="border-bottom: 1px solid #333; "
                       ng-model="vm.data.month"
                       aria-label="sort">
              <md-option ng-value="topic" ng-repeat="topic in vm.getMonth()">{{topic}}
              </md-option>
            </md-select>
            <div class="error-block" ng-messages="vm.form.month.$error">
              <div class="error-block" ng-message="required">
                {{'SignUp.fieldRequired'|translate}}
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="45" class="md-block">
            <label for="year">{{'Year'|translate}}</label>
            <md-select id="year"
                       ng-change="vm.editDate()"
                       style="border-bottom: 1px solid #333;"
                       ng-model="vm.data.year"
                       aria-label="sort">
              <md-option ng-value="topic" ng-repeat="topic in vm.getYear()">{{topic}}
              </md-option>
            </md-select>
            <div class="error-block" ng-messages="vm.form.month.$error">
              <div class="error-block" ng-message="required">
                {{'SignUp.fieldRequired'|translate}}
              </div>
            </div>
          </md-input-container>
        </div>
      </div>

      <div layout="column"
           layout-align="center end" class="link" layout-margin>
        <div class="link" style="color: #039BE5 !important;">
          <md-button md-no-ink class="md-primary" style="font-size: 17px" type="submit">{{'SignUp.continue'|translate}}</md-button>
        </div>
      </div>

    </form>

    <!--<div layout="column" layout-align="center end" class="link" layout-margin>-->
      <!--<div class="link" ng-click="vm.payArmy()" ng-if="vm.type == 1" style="color: #039BE5 !important;">-->
        <!--<a>{{'SignUp.continue'|translate}}</a>-->
      <!--</div>-->
      <!--<div class="link" ng-click="vm.payIncome_tax()" ng-if="vm.type == 2" style="color: #039BE5 !important;">-->
        <!--<a>{{'SignUp.continue'|translate}}</a>-->
      <!--</div>-->
      <!--<div class="link" ng-click="vm.payEsv()" ng-if="vm.type == 3" style="color: #039BE5 !important;">-->
        <!--<a>{{'SignUp.continue'|translate}}</a>-->
      <!--</div>-->
    <!--</div>-->


  </ion-content>
</ion-view>
