.main {
    color: black;
    .item {

        padding: 15px 10px;
        h2 {
            color: black;
            font-size: 1.15em;
            font-weight: bold;
        }
        .secondText {
            color: gray;
            font-size: 1em;
        }
        .icon {
            font-size: 32px;
        }
        p {
            color: black;
            white-space: normal;
        }
      .link {
        text-align: center;
        color: #039BE5;
        font-size: 1.2em;
        a {
          padding: 0 5px;
          color: #039BE5;
        }
      }
    }

}
