<ion-view view-title="Головна" class="main">
    <ion-content>
        <ion-list class="item">
            <ion-item>
            <div class="item-icon-left" ui-sref="app.single_fop({group: 'group1'})">
                <h2>Податок ФОП</h2>
                <p class="secondText">Єдиний</p>
            </div>
            <div class="item-icon-right">
                <i style="color: darkgreen !important;" class="icon ion-android-checkbox"></i>
            </div>
            </ion-item>
            <ion-item>
                <div class="item-icon-left">
                    <h2>Податок ФОП</h2>
                    <p class="secondText">ЄCB</p>
                </div>
                <div class="item-icon-right">
                    <i style="color: red !important;" class="icon ion-alert-circled"></i>
                </div>
            </ion-item>
            <ion-item>
                <div class="item-icon-left" ui-sref="app.staff_tax">
                    <h2>Податок з найманих <br> працівників</h2>
                    <p class="secondText">ЄCB, ВЗ, <br> Прибутковий податок</p>
                </div>
                <div class="item-icon-right">
                    <i style="color: red !important;" class="icon ion-alert-circled"></i>
                </div>
            </ion-item>
            <ion-item>
                <div class="item-icon-left">
                    <h2>Звітність</h2>
                    <p class="secondText">Декларація єдиний</p>
                </div>
                <div class="item-icon-right">
                    <i style="color: darkgreen !important;" class="icon ion-android-checkbox"></i>
                </div>
            </ion-item>
            <ion-item>
                <div class="item-icon-left">
                    <h2>Звітність</h2>
                    <p class="secondText">ЄCB річний</p>
                </div>
                <div class="item-icon-right">
                    <i style="color: darkgreen !important;" class="icon ion-android-checkbox"></i>
                </div>
            </ion-item>
            <ion-item>
                <div class="item-icon-left">
                    <h2>Звітність</h2>
                    <p class="secondText">№ 1-ДФ</p>
                </div>
                <div class="item-icon-right">
                    <i style="color: darkgreen !important;" class="icon ion-android-checkbox"></i>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
