<ion-view view-title="{{'notification'|translate}}" class="main">
  <ion-content>
    <ion-list class="item">
      <div style="margin: 20px; color: #333333" ng-if="vm.notification_data.length == 0">{{'no_notification'|translate}}</div>
      <ion-item  ng-repeat="item in vm.notification_data">
        <div class="item-icon-left">
          <i  style="color: red !important;" class="icon ion-alert-circled"></i>
        </div>
        <div class="item-icon-left pr-30">
          <p class="text" style="font-size: 1em;">
            {{item.message}}
          </p>
          <p class="pt-5" style="color: grey">
            {{item.created_at}}
          </p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

