<ion-view view-title="{{'notification'|translate}}" class="main">
  <ion-content>
    <div style="margin: 20px; color: #333333" ng-if="vm.notification_data.length == 0">{{'no_notification'|translate}}</div>
    <div class="row" ng-repeat="item in vm.notification_data">
      <div class="col">
        <div class="item">
          <div class="col">
            <p class="text" style="font-size: 1em;">
              {{item.message}}
            </p>
            <p>
              {{item.created_at}}
            </p>

          </div>
        </div>
      </div>
    </div>



  </ion-content>
</ion-view>

