<ion-view view-title="{{'Taxes.title_esv'|translate}}" class="single_fop">
  <ion-content>
    <form style="padding: 20px" ng-submit="vm.paySecondGroup()" name="vm.form" novalidate>
      <div>
        <label for="data_payer" style="color: #666666; font-size: 1em;">{{'Taxes.data_payer'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 disabled
                 required name="data_payer" id="data_payer" ng-model="vm.data.payer"
                 type="text">
          <div class="error-block" ng-messages="vm.form.data_payer.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 name="getter"
                 ng-model="vm.data.getter" type="text">
          <div class="error-block" ng-messages="vm.form.getter.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>


      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 name="getter_code"
                 ng-model="vm.data.getter_code" type="text">
          <div class="error-block" ng-messages="vm.form.getter_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.account_number'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123" required
                 disabled
                 style="margin-top: -15px; color: black"
                 name="account_number" ng-model="vm.data.account_number" type="text">
          <div class="error-block" ng-messages="vm.form.account_number.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.getter_bank'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 name="getter_bank"
                 ng-model="vm.data.getter_bank" type="text">
          <div class="error-block" ng-messages="vm.form.getter_bank.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.bank_code'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px; color: black"
                 required
                 disabled
                 name="bank_code" ng-model="vm.data.bank_code" type="text">
          <div class="error-block" ng-messages="vm.form.bank_code.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.sum'|translate}}</label>
        <md-input-container class="md-block" flex>
          <input aria-label="123"
                 style="margin-top: -15px"
                 name="sum"
                 required
                 ng-model="vm.data.sum"
                 ng-pattern="/^[+-]?([0-9]*[.])?[0-9]+$/"
                 type="number">
          <div class="error-block" ng-messages="vm.form.sum.$error">
            <div class="error-block" ng-message="required">
              {{'SignUp.fieldRequired'|translate}}
            </div>
          </div>
        </md-input-container>
      </div>

      <div style="margin-top: -25px">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.appointment'|translate}}</label>
        <md-input-container class="md-block" flex>
          <textarea aria-label="123"
                    style="margin-top: -15px; color: black"
                    required
                    name="appointment"
                    disabled rows="2" ng-model="vm.data.appointment"
                    type="text"></textarea>
        </md-input-container>
      </div>

      <!--<div style="margin-top: -25px">-->
      <!--<label style="color: #666666; font-size: 1em;">{{'Taxes.for_time'|translate}}</label>-->
      <!--<md-input-container class="md-block" flex>-->
      <!--<input aria-label="123"-->
      <!--style="margin-top: -15px"-->
      <!--name="for_time"-->
      <!--required-->
      <!--ng-model="vm.data.for_time"-->
      <!--type="text"-->
      <!--ng-change="vm.editDate()"-->
      <!--&gt;-->
      <!--<div class="error-block" ng-messages="vm.form.for_time.$error">-->
      <!--<div class="error-block" ng-message="required">-->
      <!--{{'SignUp.fieldRequired'|translate}}-->
      <!--</div>-->
      <!--</div>-->
      <!--</md-input-container>-->
      <!--</div>-->

      <div style="">
        <label style="color: #666666; font-size: 1em;">{{'Taxes.for_time'|translate}}</label>
        <div layout="row" layout-align="space-between center">
          <md-input-container flex="45" class="md-block">
            <label for="month">{{'Month'|translate}}</label>
            <md-select id="month"
                       ng-change="vm.editDate()"
                       style="border-bottom: 1px solid #333; "
                       ng-model="vm.data.month"
                       aria-label="sort">
              <md-option ng-value="topic" ng-repeat="topic in vm.getMonth()">{{topic}}
              </md-option>
            </md-select>
            <div class="error-block" ng-messages="vm.form.month.$error">
              <div class="error-block" ng-message="required">
                {{'SignUp.fieldRequired'|translate}}
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="45" class="md-block">
            <label for="year">{{'Year'|translate}}</label>
            <md-select id="year"
                       ng-change="vm.editDate()"
                       style="border-bottom: 1px solid #333;"
                       ng-model="vm.data.year"
                       aria-label="sort">
              <md-option ng-value="topic" ng-repeat="topic in vm.getYear()">{{topic}}
              </md-option>
            </md-select>
            <div class="error-block" ng-messages="vm.form.month.$error">
              <div class="error-block" ng-message="required">
                {{'SignUp.fieldRequired'|translate}}
              </div>
            </div>
          </md-input-container>
        </div>
      </div>


      <div layout="column"
           layout-align="center end" class="link" layout-margin>
        <div class="link" style="color: #039BE5 !important;">
          <md-button md-no-ink class="md-primary" style="font-size: 17px" type="submit">
            {{'SignUp.continue'|translate}}
          </md-button>
        </div>
      </div>
    </form>


  </ion-content>
</ion-view>
